<!DOCTYPE html>
<html>
<head>
    <title>Vue Template - Directives</title>
</head>
<body>

    <div id="app">
        <!-- v-if 예제 -->
        <a v-if="flag"> v-if 예제 </a>

        <!-- v-for 예제 -->
        <ul>
            <li v-for="system in systems">{{system}}</li>
        </ul>

        <!-- v-show 예제 -->
        <p v-show="flag"> v-show 예제 </p>

        <!-- v-bind 예제 -->
        <h5 v-bind:id="uid"> v-bind 예제 </h5>

        <!-- v-on 예제 -->
        <button v-on:click="popupAlert">v-on 예제</button>
    </div>

<!-- bootstrap -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.2/dist/vue.js"></script>
<script>
    new Vue({
       el: '#app',
        data: {
            flag: false,
            systems: ['A', 'B', 'C', 'D'],
            uid: 10
        },
        methods:{
           popupAlert: function(){
               return alert("!!!!");
           }
        }
    });
</script>
</body>
</html>